#banner{
    margin-top: 128px;
    height: 400px;
}

#feature-cards{
    margin-top: 128px;
}

.card-features>div.container>img{
    height: 200px;
}

#exito-cards{
    margin-top: 128px;
}

.card-exito{
    border-radius: 50px;
    border: 3px solid #cccccc;
    /* background: url('./assets/img/40626.jpg'); */
    background-position: center;
    background-size: 100%;
    background-color: #009380;
    overflow: hidden;
}

.text-exito > h4{
    color: white;
}

#banner-fluid{
    margin-top: 128px;
    background-color: #009380;
    padding-top: 32px;
    padding-bottom: 32px;
}

/* .card-exito>div.container{
    margin-top: 300px;
    margin-bottom: 32px;
} */